In [1]:
import sys
sys.path.append("../")
import pandas as pd
import numpy as np
import os
from Utils import *
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.dates as dat

import seaborn as sns

sns.set_style('darkgrid')
sns.set(font_scale=1.4) # for label size

from Behavior_Drift import *

window_size = 14
labels = ['sleep']
methods = ["features", "stat_test", "histogram_intersect"]
behavior_type = Behavior.Behavior.OCC_TIME

In [3]:
results = pd.read_csv('../output/real_life_results.csv')


# results.columns
# results.sort_values(['dataset','silhouette'], ascending=False)

results

,dataset,window_size,latent_dim,nb_cluster,silhouette,mse_loss,mae_acc
0,aruba,7,5,3,0.636344,0.005663,0.005663
1,aruba,7,10,4,0.460753,0.002181,0.002181
2,aruba,7,20,2,0.465890,0.001787,0.001787
3,aruba,14,5,4,0.597500,0.001045,0.001045
4,aruba,14,10,3,0.555723,0.001057,0.001057
5,aruba,14,20,3,0.620411,0.001056,0.001056
6,aruba,30,5,5,0.695074,0.000450,0.000450
7,aruba,30,10,5,0.692881,0.000506,0.000506
8,aruba,30,20,2,0.602546,0.000700,0.000700
9,hh112,7,5,3,0.593078,0.008638,0.008638
10,hh112,7,10,3,0.616785,0.008431,0.008431
11,hh112,7,20,3,0.605276,0.008091,0.008091
12,hh112,14,5,5,0.605547,0.003886,0.003886
13,hh112,14,10,3,0.597784,0.004401,0.004401
14,hh112,14,20,3,0.630714,0.003920,0.003920
15,hh112,30,5,3,0.698131,0.003073,0.003073
16,hh112,30,10,2,0.695895,0.002843,0.002843
17,hh112,30,20,2,0.680265,0.002916,0.002916
18,hh115,7,5,2,0.641036,0.006908,0.006908
19,hh115,7,10,2,0.626811,0.006868,0.006868
20,hh115,7,20,2,0.631014,0.006967,0.006967
21,hh115,14,5,2,0.698280,0.004554,0.004554
22,hh115,14,10,2,0.630891,0.005048,0.005048
23,hh115,14,20,2,0.639330,0.004802,0.004802
24,hh115,30,5,4,0.704508,0.003475,0.003475
25,hh115,30,10,4,0.686909,0.003826,0.003826
26,hh115,30,20,3,0.780756,0.003529,0.003529
27,hh117,7,5,2,0.684542,0.008957,0.008957
28,hh117,7,10,2,0.695281,0.008941,0.008941
29,hh117,7,20,2,0.687438,0.008957,0.008957
30,hh117,14,5,3,0.652575,0.007856,0.007856
31,hh117,14,10,3,0.665211,0.007884,0.007884
32,hh117,14,20,2,0.650984,0.007879,0.007879
33,hh117,30,5,5,0.725825,0.002516,0.002516
34,hh117,30,10,4,0.678173,0.006966,0.006966
35,hh117,30,20,4,0.682654,0.006985,0.006985
36,hh113,7,5,2,0.598900,0.009628,0.009628
37,hh113,7,10,2,0.601252,0.009585,0.009585
38,hh113,7,20,2,0.609736,0.009936,0.009936
39,hh113,14,5,5,0.539802,0.001962,0.001962
40,hh113,14,10,3,0.614191,0.008277,0.008277
41,hh113,14,20,2,0.613499,0.009078,0.009078
42,hh113,30,5,2,0.630410,0.004862,0.004862
43,hh113,30,10,2,0.620229,0.004369,0.004369
44,hh113,30,20,2,0.615159,0.005042,0.005042

In [ ]:
# Add dataset details
dataset_details = pd.read_csv('../input/dataset_details.csv')
dataset_details['dataset'] = dataset_details.dataset.apply(lambda x:x.lower())

#results = results.join(dataset_details, on='dataset')

final_results = pd.merge(results, dataset_details, on=['dataset', 'dataset'])
final_results.sort_values(['dataset', 'silhouette'], ascending=False).head()

In [ ]:
sns.scatterplot(x="nb_activities", y="silhouette",  hue="latent_dim", legend='full',
                size="nb_events", sizes=(10, 200), data=final_results)
plt.legend(loc='best', bbox_to_anchor=(1, 0., 0.5, 0.5))

In [ ]:
# Training Loss Value
sns.boxplot(x="latent_dim", y="mse_loss", data=final_results, palette="Set3")
plt.xlabel("Latent Dimension")
plt.ylabel('loss')
plt.ticklabel_format(axis='y', style='sci', scilimits=(-2,2))
plt.figure()
sns.boxplot(x="dataset", y="silhouette", data=final_results, palette="Set3")

In [ ]:
# Drift detection
sns.scatterplot(x='mse_loss', y='silhouette', size='nb_activities', hue='dataset', data=final_results)
plt.legend(loc='best', bbox_to_anchor=(1, 0., 0.5, 0.5))

In [5]:
dataset_details = pd.read_csv('../input/dataset_details.csv')
dataset_details

   dataset  nb_days  nb_events  nb_activities
0  ARUBA        220       6440             11
1  HH112        107       4345             30
2  HH113        509      22105             32
3  HH115        319      33393             52
4  HH117        345       9039             31