In [3]:
import pandas as pd
import numpy as np
import os
from Utils import *
import datetime as dt

window_size = 14
labels = ['sleep']
methods = ["features", "stat_test", "histogram_intersect"]
behavior_type = Behavior.Behavior.OCC_TIME

In [4]:
main_folder = './input/HH/'

dataset_name_list = []

for folder in os.listdir(main_folder):
    if os.path.isdir(main_folder+folder):
        dataset_name_list.append(folder)
dataset_name_list

['hh101',
 'hh102',
 'hh103',
 'hh104',
 'hh105',
 'hh106',
 'hh107',
 'hh108',
 'hh109',
 'hh110',
 'hh111',
 'hh112',
 'hh113',
 'hh114',
 'hh115',
 'hh116',
 'hh117',
 'hh118',
 'hh119',
 'hh120',
 'hh130']

In [6]:
results_df = pd.DataFrame(columns=['dataset', 'nb_days', 'nb_labels', 'start_date', 'end_date'])


for dataset_name in dataset_name_list:
    dataset_id =  dataset_name_list.index(dataset_name)
    lvl = dataset_id * 10
    df = pick_dataset(dataset_name)
    start_date = df.date.min().to_pydatetime()
    end_date = df.end_date.max().to_pydatetime()
    
    
    duration = end_date - start_date
    nb_days = int(duration/dt.timedelta(days=1))
    
    nb_labels = len(df.label.unique())
    
    results_df.loc[len(results_df)] = [dataset_name, nb_days, nb_labels, start_date, end_date]
    
    
    # Plotting
    
    plt.text(dat.date2num(start_date), lvl, 'Dataset {}'.format(dataset_name), fontsize=16)
    ax.hlines(lvl, dat.date2num(start_date), dat.date2num(end_date), label='Dataset {}'.format(dataset_name),
                  linewidth=75, color=colors[dataset_id])
    
ax.tick_params(axis='both', which='major', labelsize=12)
fig.autofmt_xdate()
# plt.title("Activity : '{}'".format(self.label))
plt.xlabel('Time')
plt.ylabel('Datasets')
    
results_df.sort_values(['nb_days'], ascending=False, inplace=True)

results_df

,dataset,nb_days,nb_labels,start_date,end_date
12,hh113,509,32,2011-06-15 01:31:23.155386,2012-11-05 10:09:51.332713
16,hh117,345,31,2011-06-15 02:22:43.921687,2012-05-25 14:39:46.495975
14,hh115,319,52,2011-06-15 00:10:12.444559,2012-04-29 13:22:37.296550
11,hh112,107,30,2011-06-15 00:00:23.298462,2011-09-30 23:59:59.122850
19,hh120,63,32,2012-01-28 00:04:14.069129,2012-03-31 23:54:05.301772
5,hh106,61,33,2011-06-15 02:13:20.812509,2011-08-15 22:33:08.100704
15,hh116,61,32,2011-06-15 00:00:00.956024,2011-08-15 09:04:18.024651
1,hh102,61,29,2011-06-15 00:06:32.834414,2011-08-15 23:53:42.830031
10,hh111,60,33,2011-06-15 00:09:34.365656,2011-08-14 23:33:43.785148
3,hh104,60,32,2011-06-15 00:01:59.558059,2011-08-14 23:44:38.173684
4,hh105,60,30,2011-06-15 04:08:40.603743,2011-08-14 22:40:06.666145
7,hh108,60,31,2011-09-01 00:17:49.089631,2011-10-31 22:16:59.582115
8,hh109,60,32,2011-06-15 00:15:20.330703,2011-08-14 23:18:12.904379
0,hh101,59,30,2012-07-20 11:09:18.952300,2012-09-17 23:44:44.508894
2,hh103,57,28,2011-06-15 01:03:39.149620,2011-08-11 10:42:01.240214
13,hh114,30,34,2011-06-15 00:50:38.220008,2011-07-15 10:52:40.877548
9,hh110,30,23,2011-06-15 01:43:14.277702,2011-07-15 11:21:58.121179
6,hh107,30,26,2012-07-20 16:14:51.830660,2012-08-20 12:50:39.782344
17,hh118,30,30,2011-06-15 00:55:02.658073,2011-07-15 09:26:25.172797
18,hh119,30,31,2012-01-28 01:41:06.356471,2012-02-27 23:59:19.431952
20,hh130,29,25,2014-06-19 00:27:29.874675,2014-07-18 23:30:08.727628

In [ ]:
fig, ax = plt.subplots()
# xfmt = dat.DateFormatter('%d-%m-%y')
# months = dat.MonthLocator()  # every month
# monthsFmt = dat.DateFormatter('%b %Y')  # Eg. Jan 2012

months = dat.AutoDateLocator()
monthsFmt = dat.AutoDateFormatter(locator=months)

# format the ticks
ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(monthsFmt)
ax.xaxis.set_minor_locator(months)

for cluster_id, window_ids in clusters.items():
    lvl = cluster_id * 2

    time_periods = self.time_periods_from_windows(window_ids)

    print("Cluster {} :".format(cluster_id))
    for period in time_periods:
        start_date = self.start_date + period[0] * self.time_window_step
        end_date = self.start_date + period[1] * self.time_window_step

        print("\t{} - {}".format(start_date, end_date))

        if time_periods.index(period) == 0:
            plt.text(dat.date2num(start_date), lvl, 'Behavior {}'.format(cluster_id), fontsize=16)
        ax.hlines(lvl, dat.date2num(start_date), dat.date2num(end_date), label='Behavior {}'.format(cluster_id),
                  linewidth=75, color=colors[cluster_id])

ax.tick_params(axis='both', which='major', labelsize=12)
fig.autofmt_xdate()
# plt.title("Activity : '{}'".format(self.label))
plt.xlabel('Time')
plt.ylabel('Behaviors')